.principal {
	background: #dddddd;
	padding: 20px;
}
p {
	font-size: 20px;
	padding-top: 5px;
}
.lista {
	font-size: 23px;
	font-style: italic;
}
#treino{
	text-align: center;
	background: #ffffff;
	display: inline-block;
	vertical-align: top;
	width: 25%;
	margin: 0% 15%;
}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
strong em {
	color: purple;
}
#cutecat {
	width: 35%;
}
