.principal {
	background: #dddddd;
	padding: 20px;
}
p {
	font-size: 20px;
	padding-top: 5px;
}
.lista {
	font-size: 20px;
	font-style: italic;
}
#treino{
	text-align: center;
	background: #ffffff;
	display: inline-block;
	vertical-align: top;
	width: 25%;
	margin: 0% 15%;
	font-size: 20px;
}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
strong em {
	color: purple;
}
#segundo-teste:hover {
	color: #A14DFA;
}
#segundo-teste:active{
	color:#E33BC0;
}
#cutecat {
	width: 35%;
}
footer{
	text-align: center;
	background: url(./imagens/rodape.PNG);
	padding: 15px 0px;
}
footer p{
	font-size: 15px;
}
