.principal {
	background: #CCCCCC;
	padding: 20px;
}
p {
	font-size: 20px;
}
.lista {
	font-size: 25px;
	font-style: italic;
}
#treino{
	text-align: center;
	background: #ffffff;
	display: inline-block;
	vertical-align: top;
	width: 25%;
	margin: 0% 15%;
}
strong em {
	color: purple;
}
#cutecat {
	width: 35%;
}
